<div class="row splash">
	<div class="splash-container">
		<div id="maximage">
			<div class="first-item">
				<p><%= image_tag "city_windows.jpg" %></p>
				<div class="in-slide-content">
					<h1>Joe</h1>
					<h1>Marshall</h1>
				</div>
			</div>
      <p><%= image_tag "old_wood.jpg" %></p>
		</div>
	</div>
</div>

<div class="row">

	<div class="large-4 columns">
		<p>column 1</p>
	</div>

	<div class="large-4 columns">
		<p>column 2</p>
	</div>

	<div class="large-4 columns">
		<p>columns 3</p>
	</div>

</div>













</div>