<div class="directional_buttons">
	<a href="" id="arrow_left"><%= image_tag 'arrow_left.png' %></a>
	<a href="" id="arrow_right"><%= image_tag 'arrow_right.png' %></a>
</div>

<div class="container">




<!-- beginning of maximage plugin -->
<div id="maximage">
	
	<!-- first slide -->
	<div class="first-item">
		<p><%= image_tag "city_windows.jpg" %></p>
		<div class="in-slide-content">
			<h1 class="intro">Who I am</h1>
			<p class="intro_text"></p>
		</div>
	</div>
	
	<!-- second slide -->
	<div class="in-slide-content">
		<p><%= image_tag "sublime_background.jpg" %></p>
		<div class="file">

			<h1 class="title">Resume.scss</h1>

			<div class="sass-var">
				<p>$github: <a href="https://github.com/MarshalJoe">my-repo</a></p>
				<p>$email: <a href="mailto:joseph.charles.marshall@gmail.com"></a>me</p>
			</div>

			<p class="comments">//right now I provide developer and technical support for the video distribution network cinesport.com</p>

			<br>

			<div class="job">
				<p>.jsFreelancer&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
				<div class="indent">
					<p>position-type: front-end;</p>
					<p>project: cinesport;</p>
					<p>framework: jquery-mvc;</p>
					<p>language: javascript;</p>
					<p>primary-skill: html5-video</p>
				</div>
				<p>}</p>
			</div>

			<br>

			<div class="job">
				<p>#makersquare&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
				<div class="indent">
					<p>position-type: full-stack;</p>
					<p>role: student;</p>
					<p>framework: RoR-JS;</p>
					<p>language: javascript;</p>
					<p>primary-skill: html5-video</p>
				</div>
				<p>}</p>
			</div>

			<div class="job">
				<p>#makersquare&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
				<div class="indent">
					<p>position-type: full-stack;</p>
					<p>role: student;</p>
					<p>framework: RoR-JS;</p>
					<p>language: javascript;</p>
					<p>primary-skill: html5-video</p>
				</div>
				<p>}</p>
			</div>

	 </div>	



	</div>






</div>


</div>
