<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js'></script>

<div class="container">
<!-- beginning of maximage plugin -->
	<div id="maximage">
		
		<!-- first slide -->
		<div class="first-item">
			<p><%= image_tag "austin.jpg" %></p>
			<div id="in-slide-content">
				<h1 class="intro1">Developer<span class="asterisk">*</span></h1>
				<h1 class="intro2">Writer</h1>
				<h1 class="intro3">Worker</h1>
				<div class="divider"></div>
				<h1 class="intro4">*of the front-end variety</h1>
			</div>
		</div>
		
		<!-- second slide -->
		<div class="in-slide-content">
			<p><%= image_tag "code.jpg" %></p>
		</div>

	</div>

<!-- end of maximage plugin -->
</div>

<div class="directional-buttons">
	<a href="" id="arrow_left"><%= image_tag 'arrow_left.png' %></a>
	<a href="" id="arrow_right"><%= image_tag 'arrow_right.png' %></a>
</div>

<div class="file">

	<h1 class="title">Resume.scss</h1>

	<div class="sass-var">
		<p>$github: <a href="https://github.com/MarshalJoe">my-repo</a></p>
		<p>$email: <a href="mailto:joseph.charles.marshall@gmail.com">my-email</a></p>
		<p>$</p>
	</div>

	<br>

	<p class="comments">//right now I provide developer and technical support for the video distribution network cinesport.com</p>

	<br>

	<div class="job">
		<p><span style="color:#6df91b">.jsFreelancer</span>&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
		<div class="indent">
			<p><span style="color:#12d8ea">position-type: </span><span style="color: #f7f785">"front-end"</span>;</p>
			<p><span style="color:#12d8ea">project: </span><span style="color: #f7f785">"cinesport"</span>;</p>
			<p><span style="color:#12d8ea">framework: </span><span style="color: #f7f785">"javascript-mvc"</span>;</p>
			<p><span style="color:#12d8ea">language: </span><span style="color: #f7f785">"javascript"</span>;</p>
			<p><span style="color:#12d8ea">extra-skill: </span><span style="color: #f7f785">"html5video"</span>;</p>
		</div>
		<p>}</p>
	</div>

	<br>

	<div class="job">
		<p><span style="color:red">#makersquare</span>&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
		<div class="indent">
			<p><span style="color:#12d8ea">position-type: </span><span style="color: #f7f785">"front-end"</span>;</p>
			<p><span style="color:#12d8ea">project: </span><span style="color: #f7f785">"cinesport"</span>;</p>
			<p><span style="color:#12d8ea">framework: </span><span style="color: #f7f785">"javascript-mvc"</span>;</p>
			<p><span style="color:#12d8ea">language: </span><span style="color: #f7f785">"javascript"</span>;</p>
			<p><span style="color:#12d8ea">extra-skill: </span><span style="color: #f7f785">"html5video"</span>;</p>
		</div>
		<p>}</p>
	</div>

	<br>

	<p class="comments">//right now I provide developer and technical support for the video distribution network cinesport.com</p>

	<br>

	<div class="job">
		<p><span class="green">.jsFreelancer</span>&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
		<div class="indent">
			<p><span style="color:#12d8ea">position-type: </span><span style="color: #f7f785">"front-end"</span>;</p>
			<p><span style="color:#12d8ea">project: </span><span style="color: #f7f785">"cinesport"</span>;</p>
			<p><span style="color:#12d8ea">framework: </span><span style="color: #f7f785">"javascript-mvc"</span>;</p>
			<p><span style="color:#12d8ea">language: </span><span style="color: #f7f785">"javascript"</span>;</p>
			<p><span style="color:#12d8ea">extra-skill: </span><span style="color: #f7f785">"html5video"</span>;</p>
		</div>
		<p>}</p>
	</div>

<!-- end of resume.scss file -->
 </div>


 <div class="footer"><p class="footer-text">this is my footer</p></div>


<!-- <iframe class="pdf" src="https://docs.google.com/file/d/0By05iqHrOHzVcF9iQUdEMFNtZW8/preview" width="80%" height="500"></iframe> -->

