// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
$header:lighten(blue, 30%);
$background_color:lighten(black, 20%); 

.file {
	font-family: 'Consolas';
	margin-left: 15%;
}

.directional_buttons {
	margin-left: 8%;
	margin-top: 4%;
}

@font-face {
    font-family: 'Consolas';
    src: url('<%= asset_path("Consolas.ttf") %>');
}

.indent {
	margin-left: 6.5%;
}

.job, .sass-var {
	line-height: .3em;
}

.maximage, .body {
	overflow: scroll;
}

.container {
	height:300px;
	overflow: hidden;
	width:300px;
}
 
#maximage {
	position:relative !important;
}


