// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
$header:lighten(blue, 30%);
$background_color:lighten(black, 20%); 

body {
}

.firstname, .lastname {
	color:$header;
}

p {
	text-align: center;
}

h1 {
	font-size: 6em;
}

.splash {
	margin-left: 0;
}

#splash-container {
	width: 100%;
	height:700px;
	margin-left: 0px;
	margin-right: 0px;
}

#holder {
	height:300px;
	overflow: hidden;
	width:300px;
}
 
#maximage {
	position:relative !important;
}

