// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
$header:white;
$background_color:lighten(black, 20%); 

.firstname, .lastname {
	color:$header;
}

.firstname {

}

.lastname {
	font-family: "Times New Roman";
}

body {
	background-color: lighten(black, 20%);
}