// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@import url(http://fonts.googleapis.com/css?family=Exo+2);
$header:lighten(blue, 30%);
$sublime_background: #272727;
$base_color: #121e54;
$dark_shade: darken($base_color, 20%) ;

//begin necessary maximage styling

.container {
	height:475px;
	overflow: hidden;
	width:100%;
}
 
#maximage {
	position:relative !important;
}

//end necesary maximage styling

.intro1, .intro2, .intro3, .intro4, .intro5 {
	color:white;
	font-size: 4em;
	font-family: 'Exo 2';
	margin-left: 3%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: 1px 1px 3px $dark_shade;
} 

.file {
	font-family: 'Consolas';
	padding: 3% 3% 3% 3%;
	color:white;
	margin-top: 0px;
}

.codeblock1, .codeblock2, .codeblock3 {
	width: 25%;
	margin-left: 3em;
	display:inline-block;
}

.codeblock2, .codeblock3 {
	position: relative;
	top: -50px;
}

.directional-buttons {
	margin-left: 3.3em;
	background-color: $base_color;
	min-width:100px;
	text-align: center;
	float:right;
}

.directional-wrapper {
	float:left;
	width:12.5%
}

@font-face {
    font-family: 'Consolas';
    src: url('<%= asset_path("Consolas.ttf") %>');
}

.indent {
	margin-left: 6.5%;
}

.job, .sass-var {
	line-height: 4px;
}

.sass-var {
	color: white;
}

.maximage {
	overflow: scroll;
}

.super-body {
	background-color: darken($sublime_background, 20%);
	margin-left: 0px;
	margin-bottom: 0px;
}

.divider {
	height: 85px;
}

.title {
	color: white;
}

.comments {
	color: gray;
}

.job, .comments {
	font-size: 1.05em;
}

.footer {
	background-color: $base_color;
	width: 100%;
	height: 70px;
	margin-bottom: 0px;
	margin-top: 0px;

	.icon {
		margin-right: 15px;
		margin-left: 15px;
		color:white;
	}

}

.footer-text {
	margin-top: 0px;
	line-height: 70px;
	font-family: "Exo 2";
	color:white;
	text-align: center;
}

.bio {
	background-color:white;
	width: 75%;
	margin: 0px auto 0px auto;

	h2, p {
		font-family: "Exo 2";
		padding-left: 5%;
	}

	h2	{
		color: $dark_shade;
		padding: 25px;
		margin: 0px;
	}

	p {
		color:black;
		padding: 25px;
		margin: 0px;
	}

}





